<h4><%= type.name %></h4>
<p>ID: <%= type._id %></p>

<p>It does indeed exist.</p>

<% if (inst.length) { %>
<p>Instruments in database:</p>
<ul>
	<% inst.forEach(function (elem) { %>
	<li>
		<a href="<%= elem.url %>"> <%= elem.name %></a>
	</li>
	<% }) %>
</ul>
<% } else { %>
<p>No instruments</p>
<% } %>

<hr />

<a href="<%= type.url+"/delete" %>">Delete Type</a>
